# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


MANIFEST

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
